langchain
#openai
PyPDF2
faiss-cpu
huggingface-hub
python-dotenv
sentence-transformers
htmltemplate
bitsandbytes
accelerate
xformers
einops
datasets
loralib
sentencepiece
chromadb
streamlit
pypdf
python-docx